In [ ]:
from bs4 import BeautifulSoup as bs
import pandas as pd 
from selenium import webdriver
from splinter import Browser
import requests
import time

# NASA Mars News Scrape #

In [ ]:
# Retrieve NASA Mars News page with the requests module
url = 'http://mars.nasa.gov/news/'
response = requests.get(url)

In [ ]:
# Save page data into Soup
soup = bs(response.text, "html.parser")
print(soup.prettify())

In [ ]:
# Filter results to article data to find titles
results = soup.find_all('div', class_="content_title")
results

In [ ]:
# Filter to the latest article on the site
result_first = results[0]

In [ ]:
# Scrape title of latest article
title = result_first.a.string.strip()
title

In [ ]:
# Filter results to find article summary
results2 = soup.find_all('div', class_="rollover_description_inner")
results2

In [ ]:
# Filter to the latest article summary
result2_first = results2[0]
result2_first

In [ ]:
# Scrape summary of latest article
p = result2_first.string.strip()
p

In [ ]:
 # Store data in a dictionary
    nasa_mars_news = {
        "news_title": title,
        "news_p": p
    }

    nasa_mars_news

# JPL Mars Space Images Scrape

In [ ]:
# Retrieve JPL Mars page with the requests module
url2 = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
response2 = requests.get(url2)

In [ ]:
# Save JPL page data into Soup
jpl_soup = bs(response2.text, "html.parser")
print(jpl_soup.prettify())

In [ ]:
# Filter results to find featured image data
jpl_results = jpl_soup.find('div', class_="carousel_container")
jpl_results

In [ ]:
# Filter results to url
featured_image = jpl_results.find("a")
featured_image

In [ ]:
# Scrape end of url for featured image
url_end = featured_image.get("data-fancybox-href")
url_end

In [ ]:
# Create variable to hold whole url
jpl_prefix = 'https://www.jpl.nasa.gov'
featured_image_url = f"{jpl_prefix}{url_end}"
featured_image_url

# Latest Mars Weather Tweet #

In [53]:
# NOTE: This was working a couple of days ago, but is no longer pulling the text from the tweet
# Retrieve Mars Weather Twitter page with Chromedriver
url3 = 'https://twitter.com/marswxreport?lang=en'
driver = webdriver.Chrome()
driver.get(url3)
time.sleep(3)

In [55]:
# Find first tweet
tweet_div = driver.find_elements_by_xpath('/html/body/div/div/div/div[2]/main/div/div/div/div[1]/div/div[2]/div/div/div[2]/section/div/div/div[1]/div/div/div/div/article/div/div[2]/div[2]/div[2]/div[1]/div/span')

for x in tweet_div:
    print(x.text)

# Mars Facts Scraping With Pandas #

In [45]:
# Import url with pandas
url4 = 'https://space-facts.com/mars/'
table = pd.read_html(url4)
table[0]

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [46]:
# Convert table to a dataframe
df = table[0]
df

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [47]:
# Set first column to index
df_new_index = df.set_index(0)
df_new_index

                                                  1
0
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [57]:
# Convert table to html & save
mars_facts = df_new_index.to_html(classes=["table-bordered"])
print(mars_facts)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>1</th>
    </tr>
    <tr>
      <th>0</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Equatorial Diameter:</th>
      <td>6,792 km</td>
    </tr>
    <tr>
      <th>Polar Diameter:</th>
      <td>6,752 km</td>
    </tr>
    <tr>
      <th>Mass:</th>
      <td>6.39 × 10^23 kg (0.11 Earths)</td>
    </tr>
    <tr>
      <th>Moons:</th>
      <td>2 (Phobos &amp; Deimos)</td>
    </tr>
    <tr>
      <th>Orbit Distance:</th>
      <td>227,943,824 km (1.38 AU)</td>
    </tr>
    <tr>
      <th>Orbit Period:</th>
      <td>687 days (1.9 years)</td>
    </tr>
    <tr>
      <th>Surface Temperature:</th>
      <td>-87 to -5 °C</td>
    </tr>
    <tr>
      <th>First Record:</th>
      <td>2nd millennium BC</td>
    </tr>
    <tr>
      <th>Recorded By:</th>
      <td>Egyptian astronomers</td>
    </tr>
  </tbody>
</table>

# Mars Hemispheres #

In [ ]:
# Retrieve Mars Hemispheres image urls with splinter
executable_path = {"executable_path": "C:/Users/vll14/chromedriver.exe"}
browser = Browser("chrome", **executable_path, headless=False)
url5 = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(url5)
time.sleep(5)

In [ ]:
# Save hemispheres page data into Soup
html5 = browser.html
hemi_soup = bs(html5, "html.parser")
print(hemi_soup.prettify())

In [ ]:
# VAL SPLINTER
#click = browser.find_by_xpath('//*[@id="product-section"]/div[2]/div[1]/div/a/h3').click()
#print (browser.url)

In [42]:
# Find correct div and class
hemi_links_div = hemi_soup.find_all('div', class_='item')
print(hemi_links_div)

[<div class="item"><a class="itemLink product-item" href="/search/map/Mars/Viking/cerberus_enhanced"><img alt="Cerberus Hemisphere Enhanced thumbnail" class="thumb" src="/cache/images/dfaf3849e74bf973b59eb50dab52b583_cerberus_enhanced.tif_thumb.png"/></a><div class="description"><a class="itemLink product-item" href="/search/map/Mars/Viking/cerberus_enhanced"><h3>Cerberus Hemisphere Enhanced</h3></a><span class="subtitle" style="float:left">image/tiff 21 MB</span><span class="pubDate" style="float:right"></span><br/><p>Mosaic of the Cerberus hemisphere of Mars projected into point perspective, a view similar to that which one would see from a spacecraft. This mosaic is composed of 104 Viking Orbiter images acquired…</p></div> <!-- end description --></div>, <div class="item"><a class="itemLink product-item" href="/search/map/Mars/Viking/schiaparelli_enhanced"><img alt="Schiaparelli Hemisphere Enhanced thumbnail" class="thumb" src="/cache/images/7677c0a006b83871b5a2f66985ab5857_schiaparelli_enhanced.tif_thumb.png"/></a><div class="description"><a class="itemLink product-item" href="/search/map/Mars/Viking/schiaparelli_enhanced"><h3>Schiaparelli Hemisphere Enhanced</h3></a><span class="subtitle" style="float:left">image/tiff 35 MB</span><span class="pubDate" style="float:right"></span><br/><p>Mosaic of the Schiaparelli hemisphere of Mars projected into point perspective, a view similar to that which one would see from a spacecraft. The images were acquired in 1980 during early northern…</p></div> <!-- end description --></div>, <div class="item"><a class="itemLink product-item" href="/search/map/Mars/Viking/syrtis_major_enhanced"><img alt="Syrtis Major Hemisphere Enhanced thumbnail" class="thumb" src="/cache/images/aae41197e40d6d4f3ea557f8cfe51d15_syrtis_major_enhanced.tif_thumb.png"/></a><div class="description"><a class="itemLink product-item" href="/search/map/Mars/Viking/syrtis_major_enhanced"><h3>Syrtis Major Hemisphere Enhanced</h3></a><span class="subtitle" style="float:left">image/tiff 25 MB</span><span class="pubDate" style="float:right"></span><br/><p>Mosaic of the Syrtis Major hemisphere of Mars projected into point perspective, a view similar to that which one would see from a spacecraft. This mosaic is composed of about 100 red and violet…</p></div> <!-- end description --></div>, <div class="item"><a class="itemLink product-item" href="/search/map/Mars/Viking/valles_marineris_enhanced"><img alt="Valles Marineris Hemisphere Enhanced thumbnail" class="thumb" src="/cache/images/04085d99ec3713883a9a57f42be9c725_valles_marineris_enhanced.tif_thumb.png"/></a><div class="description"><a class="itemLink product-item" href="/search/map/Mars/Viking/valles_marineris_enhanced"><h3>Valles Marineris Hemisphere Enhanced</h3></a><span class="subtitle" style="float:left">image/tiff 27 MB</span><span class="pubDate" style="float:right"></span><br/><p>Mosaic of the Valles Marineris hemisphere of Mars projected into point perspective, a view similar to that which one would see from a spacecraft. The distance is 2500 kilometers from the surface of…</p></div> <!-- end description --></div>]

In [44]:
# Set prefix for each image url
base_url = 'https://astrogeology.usgs.gov'

# Set up list to hold final url and hemisphere info
hemi_data = []
mars_links = []

for result in hemi_links_div:
    href = result.find('a', class_='itemLink').get('href')
    hemi = result.find('h3').text
    #scraped_data['Mars_Hemi_Names'].append(link_title)
    print(hemi) 
    
    url = f"{base_url}{href}"
    print(url)
    print("----------") 
    mars_links.append(url)

    browser.quit()

Cerberus Hemisphere Enhanced
https://astrogeology.usgs.gov/search/map/Mars/Viking/cerberus_enhanced
----------
Schiaparelli Hemisphere Enhanced
https://astrogeology.usgs.gov/search/map/Mars/Viking/schiaparelli_enhanced
----------
Syrtis Major Hemisphere Enhanced
https://astrogeology.usgs.gov/search/map/Mars/Viking/syrtis_major_enhanced
----------
Valles Marineris Hemisphere Enhanced
https://astrogeology.usgs.gov/search/map/Mars/Viking/valles_marineris_enhanced
----------

In [ ]:
for link in mars_links:
        browser.visit(link)
        time.sleep(2)
        html6 = browser.html
        soup6 = bs(html6, 'html.parser')
        hemi_pic_img = soup6.find('img', class_='wide-image')
        hemi_pic_link = hemi_pic_img['src']
        hemi_link = f'{mars_page}{hemi_pic_link}'
        #scraped_data['Mars_Hemi_Links'].append(hemi_link)
        browser.quit()

# Save info into a dictionary
    hemi_dict = {
    "img_url": url,
    "title": hemi
    }

    hemi_data.append(hemi_dict)